<h1>Nearest Stations</h1>
<% @stations.each do |station| %>
  <%= station.name %>
  <%= station.address %>
  <%= station.fuel_type %>
  <%= station.distance %>
  <%= station.access_times %>
<% end %>
