<h1>Nearest Stations</h1>
<% @stations.each do |station| %>
  <%= station.name %><br/>
  <%= station.address %><br/>
  <%= station.fuel_type %><br/>
  <%= station.distance %><br/>
  <%= station.access_times %><br/><br/>
<% end %>
